/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * martiandice implementation : © Christopher Pierce <chrisjpierce@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * martiandice.css
 *
 * martiandice stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (martiandice_martiandice.tpl), and to HTML elements you create dynamically
    (in martiandice.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }

*/

/*
Martian Dice colors (look up Pantone here: https://www.pantone.com/color-finder):
Death Rays      Humans          Chickens        Tanks               Cows    Tube Lid
Pantone 802             801             803             "bright red" (c?)   "white" 807 (c?)
Hex     #44d62c         #009ace         #ffe900         #f93822             white   #ea27c2
RGB     #68, 214, 44    0, 154, 206     255, 233, 0     249, 56, 34
HSV     111°, 79%, 84%  195°, 100%, 81% 55°, 100%, 100% 6.14,86.35%,97.65%
HSL     111°, 67%, 51%  195°, 100%, 41% 55°, 100%, 50%  6.14,94.71%,55.49%
*/

#test {
    width: 100px;
    height: 100px;
    border: 2px solid #44d62c;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
    width: 60px;
    height: 60px;
    /*   border: 10px solid #CCC; */
    margin: 50px;
    perspective: 400px;
}

.cube {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-30px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-30px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-30px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-30px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-30px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-30px) rotateX(  90deg); }

.cube__face {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    line-height: 60px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 50%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 50%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 50%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 50%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 50%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 50%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(30px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(30px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(30px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(30px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(30px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(30px); }

label { margin-right: 10px; }



