/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * martiandice implementation : © Christopher Pierce <chrisjpierce@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * martiandice.css
 *
 * martiandice stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (martiandice_martiandice.tpl), and to HTML elements you create dynamically
    (in martiandice.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }

*/

/*
Martian Dice colors (look up Pantone here: https://www.pantone.com/color-finder):
Death Rays      Humans          Chickens        Tanks               Cows    Tube Lid
Pantone 802             801             803             "bright red" (c?)   "white" 807 (c?)
Hex     #43c92d        #009ace         #ffe900         #f93822             white   #ea27c2
RGB     #68, 214, 44    0, 154, 206     255, 233, 0     249, 56, 34
HSV     111°, 79%, 84%  195°, 100%, 81% 55°, 100%, 100% 6.14,86.35%,97.65%
HSL     111°, 67%, 51%  195°, 100%, 41% 55°, 100%, 50%  6.14,94.71%,55.49%
*/

#play_area {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 800px;
    border: 3px solid #e128bc;
}

#dice_tray {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 70%;
    border: 1px solid #231f20;
}

#death_rays {
    height: 70%;
    width: 20%;
    position: absolute;
    right: 22%;
    top: 0;
    background-color: hsla(112, 63%, 48%, 0.4);
    border: 2px solid #43c92d;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #43c92d;
}

#tanks {
    height: 70%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: hsla(8, 88%, 51%, 0.4);
    border: 2px solid #f03112;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #f03112;
}

#humans {
    height: 27%;
    width: 32%;
    position: absolute;
    left: 0%;
    bottom: 0;
    background-color: hsla(198, 100%, 40%, 0.4);
    border: 2px solid #008eca;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #008eca;
}

#cows {
    height: 27%;
    width: 32%;
    position: absolute;
    left: 34%;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #fff;
}

#chickens {
    height: 27%;
    width: 32%;
    position: absolute;
    left: 68%;
    bottom: 0;
    background-color: hsla(54, 100%, 50%, 0.4);
    border: 2px solid #ffe600;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px #ffe600;
}


* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
    width: 60px;
    height: 60px;
    margin: 5px;
    perspective: 400px;
}

.cube {
    width: 60px;
    height: 60px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 0.2s;
}

.cube.show-3  { transform: translateZ(-30px) rotateY(   0deg); }
.cube.show-5  { transform: translateZ(-30px) rotateY( -90deg); }
.cube.show-4   { transform: translateZ(-30px) rotateY(-180deg); }
.cube.show-2   { transform: translateZ(-30px) rotateY(  90deg); }
.cube.show-1    { transform: translateZ(-30px) rotateX( -90deg); }
.cube.show-6 { transform: translateZ(-30px) rotateX(  90deg); }

.cube__face {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.cube__face--3  { background: #231f20; color: #ffffff;}
.cube__face--5  { background: #231f20; color: #ffe600;}
.cube__face--4   { background: #231f20; color: #f03112;}
.cube__face--2   { background: #231f20; color: #008eca;}
.cube__face--1    { background: #231f20; color: #43c92d;}
.cube__face--6 { background: #231f20; color: #43c92d;}

.cube__face--3  { transform: rotateY(  0deg) translateZ(30px); }
.cube__face--5  { transform: rotateY( 90deg) translateZ(30px); }
.cube__face--4   { transform: rotateY(180deg) translateZ(30px); }
.cube__face--2   { transform: rotateY(-90deg) translateZ(30px); }
.cube__face--1    { transform: rotateX( 90deg) translateZ(30px); }
.cube__face--6 { transform: rotateX(-90deg) translateZ(30px); }

label { margin-right: 10px; }
